@import "Client/Assets/Style/variables";

.list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: #0491d4; /*secondary*/
	color: #fff;

	.list__app {
		display: grid;
		grid-template-columns: $sideBarButtonSize auto;
		min-height: $sideBarButtonSize;

		&:hover {
			.highlight {
				background-color: $primary;
				cursor: pointer;
			}
		}

		&.filler {
			flex: 1;
		}

		&.active {
			.list__app__icon {
				background-color: $secondary;
				text-shadow: -2px 2px 2px rgba(0,0,0,0.25);
			}

			.list__app__title {
				background-color: $primary;

				span {
					color: white;
				}
			}
		}

		.list__app__icon {
			background-color: $primary;
			min-height: $sideBarButtonSize;
			display: grid;
			box-shadow: inset -17px 0px 15px -11px rgba(0,0,0,0.45);

			svg {
				margin: auto;
				color: white;
			}
		}

		.list__app__title {
			display: grid;
			border-bottom: 1px dotted black;
			box-shadow: inset -17px 0px 15px -11px rgba(0,0,0,0.3);

			span {
				margin: auto 10px auto 10px;
				font-weight: 900;
				font-size: 1.2rem;
			}
		}

		.list__app__menu {
			border-top: 1px dotted black;
			border-bottom: 1px dotted black;
			background-color: $body-bg;
			padding: 10px 5px 10px 5px;
			display: flex;
			flex-direction: column;
			box-shadow: 0px 17px 15px -11px rgba(0,0,0,0.3);

			a.section {
				width: 100%;
				padding: 2px;
				font-weight: 900;
				line-height: 20px;
				text-decoration: none;
				color: black;
				border-top: 1px solid $body-bg;
				border-bottom: 1px solid $body-bg;
				border-left: 5px solid $body-bg;
				border-right: 5px solid $body-bg;
				cursor: pointer;

				&:not(:last-child) {
					border-bottom: 1px dotted black;
				}

				&.router-link-active {
					border-right: 5px solid $primary;
				}

				&:hover {
					border-right: 5px solid $secondary;
					border-bottom: 1px solid $secondary;
				}
			}

			a.level-1 {
				padding-left: 30px;
				color: #555;
			}

			a.level-2 {
				padding-left: 45px;
				color: #888;
			}

			ul {
				z-index: 0;
				padding: 0;
				margin: 0;

				li {
					margin: 0px;
					padding: 3px;
					list-style-type: none;
					background-color: $secondary;
					cursor: pointer;
					color: white;
					line-height: 20px;

					&:hover {
						background-color: $primary;
					}

					&.active {
						background-color: white;
						color: black;

						&:hover {
							background-color: $primary;
							box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
						}
					}
				}

				.level-1 {
					padding-left: 30px;
					color: #555;
				}

				.level-2 {
					padding-left: 45px;
					color: #888;
				}
			}
		}
	}
}
