<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Vue.js with ASP.net Core</title>

	<link rel="stylesheet" href="css/reveal.css">
	<link rel="stylesheet" href="css/theme/cservices.css">

	<!-- Theme used for syntax highlighting of code -->
	<link rel="stylesheet" href="lib/css/zenburn.css">

	<!-- Printing and PDF exports -->
	<script>
		var link = document.createElement('link');
		link.rel = 'stylesheet';
		link.type = 'text/css';
		link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
		document.getElementsByTagName('head')[0].appendChild(link);
	</script>


</head>

<body style="background-image:url(assets/background.png);background-repeat: no-repeat ">
	<div class="reveal">
	
		<div class="slides">

			<section data-background="assets/meetup.gif">
				<div>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p style="color:white;font-weight:bold;font-size:1.2em">Vue.js with .net Core</p>

				</div>
			</section>

			<section data-markdown>
				<textarea data-template>
					![logo](assets/logo.jpg)
				</textarea>
			</section>
			

			<section>
				<h1>Presentation</h1>
				<section data-markdown>
					<textarea data-template>
						# Team
						- Gregory Kieffer
						- Laurent Courtois
						- Damien Carton
						
						Notes:
						# GK
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
						# C-Services
						- Part of Cronos Group
						- MS Gold Partner
						- Sharepoint / BI
						- Custom Business Application Development
						``` json
							.net, Java
						```
						
						Notes:
						# GK
					</textarea>
				</section>
			</section>

			<section>
				Context
				<section>
					<img src="assets/Telindus_logo.gif" style="border:none" />
					<aside class="notes">
						<h1>GK

							<ul>
								<li>team is developing KYC</li>
							</ul>
						</h1>
					</aside>
				</section>
				<section>
					<p><b>DigitalKYC</b></p>
					<p>"Know Your Customer"</p>
					<p>A platform to onboard individuals and legal entities, detect risks, analyse scoring, manage
						related business
						processes and documents</p>
					<p>Awarded the <br /> 
						«Fintech Solution of the Year»</p>

					<aside class="notes">
						<h1>GK</h1>

						<ul>
							<li>started end 2017</li>
							<li>used in different scenarios</li>
						</ul>
					</aside>

				</section>
				<section>
					<p>
						<b>Verifies & scores customer information</b>
						<ul>
							<li>Face recognition</li>
							<li>ID document scanning and analysis</li>
							<li>Liveness tests</li>
							<li>2FA, voice recognition</li>
							<li>Geolocation</li>
							<li>Forged documents</li>
							<li>Phone number fraud</li>
							<li>Sanction Lists & Exposed Persons (PEPs)</li>
							<li>...</li>
						</ul>
					</p>
					<aside class="notes">
						<h1>GK</h1>
					</aside>

				</section>
		

				<section>
					<p>
						Technology stack & Methods
						<ul>
							<li>.net Core 2.x</li>
							<li>Vue.js</li>
							<li>MongoDB</li>
							<li>CQRS</li>
							<li>Event Sourcing</li>
							<li>Micro Services</li>
							<li>DDD: Domain Driven Design</li>
							<li>CI: Continuous Integration</li>
							<li>Docker</li>
						</ul>
					</p>
					<aside class="notes">
						<h1>GK</h1>

						<ul>
							<li>started as standard asp.net / sql server</li>
							<li>gradually modernizing</li>
							<li>gradually using Vue more and more</li>
							<li>now 100% Vue</li>
						</ul>
					</aside>
				</section>
			</section>

			<section>
				<section>
					<img src="assets/vue-logo.png" height="300px" />
					<p>Vue.js</p>
					<ul>
						<li>Commonly referred to as Vue, pronounced View</li>
						<li>Open-source JavaScript framework for building user interfaces and
							single-page applications</p>
						<li>Created by Evan You, ex-employee from Google, first released in Feb 2014
						</li>
					</ul>
					<aside class="notes">
						<h1>GK</h1>
						<ul>
							<li>prononced View</li>
							<li>current version 2.6.8</li>
						</ul>
					</aside>
				</section>

				<section>
					<p>Features</p>
					<ul>
						<li>Virtual DOM</li>
						<li>Components</li>
						<li>Computed Properties</li>
						<li>Templates</li>
						<li>Directives</li>
						<li>Watchers</li>
						<li>Routing</li>
					</ul>
					<aside class="notes">
						<h1>GK</h1>
					</aside>

				</section>

				<section data-markdown>
					<textarea data-template>
						## Setup
						CDN
						```html
						<script src="https://unpkg.com/vue"></script>
						```
						Package Manager
						```powershell
						npm install vue
						```

						Vue CLI
						```powershell
						npm install --global vue-cli
						vue init webpack myproject
						```
						Notes: 
						# GK
					</textarea>
				</section>
				<section data-markdown style="top:50px !important">
					<textarea data-template>
						## Minimal Vue app
						```html
						<html>
							<head>
								<title>Vue Meetup</title>
								<script src="https://unpkg.com/vue"></script>
							</head>
							<body>
								<div id="app" style="text-align:center;">
									<h1>{{ message }}</h1>
								</div>

								<script type="text/javascript">
									const app = new Vue({
										el: '#app',
										data: {
											message: 'Welcome to this Meetup'
										}
									});
								</script>
							</body>
						</html>
						```
						Notes: 
						# GK

					</textarea>
				</section>

				<section data-markdown style="top:50px !important">
					<textarea data-template>
						## Advanced component template
						```html
						<template>
							<page>
								<toolbar>
									<toolbar-button @click="save">Save</toolbar-button>
								</<toolbar>
						
								<property-list>
									<property-item label="Name">
										<input class="k-textbox" type="text" v-model="team.name" />
									</property-item>
						
									<property-item label="Description">
										<input class="k-textbox" v-model="team.description" />
									</property-item>

									<property-item label="Members">
										<tag-list-edit v-model="selectedUsers" :data-source="users"/>
									</property-item>
								</property-list>
							</page>
						</template>
						```

						Notes: 
						# GK
						- more semantic
						

					</textarea>
				</section>
			</section>

			<section>
				<section data-markdown>
					<textarea data-template>
						# Components

						Notes:
						# GK
						- How components are created 
						- How components are used
						- different methods depend on maturity
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
						## Component Templates

						Notes:						
						# DC
						Template are HTML-based  
						Bind the rendered DOM with the Vue instance's data  
						All vue tempaltes can by parsed by HTML parsers  
						Multiple ways to include templates in your HTML project  
						
					</textarea>
				</section>


				<section data-markdown>
					<textarea data-template>
						## Inline 
						- Just add inline-template attribute
						- Rendered on page load
						- Separate the template from the component definition
						``` html
						<my-component inline-template>
						  <div>
							<p>These are compiled as the component's own template.</p>
							<p>Not parent's transclusion content.</p>
						  </div>
						</my-component>
						```

						Notes:
						# DC  
						The first one is directly in your HTML page by adding a attribute on the component.  
						Vue will use the inner content as a template.  
						Permtits to integrate Vue very quickly
						- CODE samples\TemplateInline\index.html
						- CODE samples\TemplateInline\result.html
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
						## Javascript Components
							
						``` html
						<template>
						  <div>
							<p>{{ firstname }} {{ lastname }}</p>
							<p>{{ fullname }}</p>
						  </div>
						</template>
						
						<script>
							export default {
								data: function () {
									return {
										firstname: 'John',
										lastname: 'Doe'
									}
								},
								computed: {
									fullname: function () {
										return this.firstname + ' ' + this.lastname;
									}
								},
								...
							}
						</script>
						```
						Notes:
						# LC
						Exportation of a structure defining the component :
						- Data
						- Computed properties
						- Methods
						- Lifecycle methods
						- Properties
						- Components
						
						Place in own vue file

					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
						## TypeScript Components 
						* Advantages:
							- Better experience for coding (Intelisense, checks on transpiling)
							- Similar experience to .net
							
						* Inconvenients
							- Stronger typing requires more effort upfront
							- Somewhat experimental (decorators)
						
						Notes: 
						# GK
						- CODE samples\Notes\Client\App\Pages\Edit.vue
						- Decorators: Component, Prop, Watch, Emit
							- Can be used in JS
						- Async /await
					</textarea>
				</section>
			</section>

			<section>
				<section>
					<h1>Vue Syntax</h1>
					<aside class="notes">
						<h1>GK</h1>
						<ul>
							<li>templates use specific syntax to be combined with html</li>
							<li>most similar to angular</li>
							
						</ul>
					</aside>
				</section>

				<section data-markdown>
					<textarea data-template>
					## Interpolation
					* Plain text
					``` json
					{{ variable }}
					```
					
					* Attribute
					``` json
					<a v-bind:href="url"> ... </a>
					```
					
					* Integration of javascript
					``` json
					{{ ok ? 'YES' : 'NO' }}
					<div v-bind:id="'list-' + id"></div>
					```
					
					Notes:
					# DC
					Display plain text. variable will be replaced by the value of the object. It will also be updated whenever the variable property hanges  
					v-bind binds element's href attribute to the value of the expression url. A shorcut is to use only the : (colon) 
							
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
					## Directives
					### Data binding
					* One-way
					 - {{ note.title }}
					 - v-bind:title="noteTitle"
					* Two-way
					 - v-model
					```html
					<v-text-field v-model="note.title" required></v-text-field>
					``` 
						
					Notes:
					# LC
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
					### Conditional Rendering
					* v-if 
					* v-else-if 
					* v-else
						
					```html
					<div v-if="notes.length === 0">
						No note found
					</div>
					<div v-else-if="notes.length === 1">
						One note found 
					</div>
					<div v-else>
						Few notes found
					</div>
					```
						
					* v-show
						
					Notes:
					# LC
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
						### List Rendering
						v-for
						```html
						<div v-for="n in notes" :key="n.title">
							<note-view :note="n" />
						</div>
						```

						Notes:
						# LC
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
						#### Event Handling
						v-on or @
						``` html
						<template>
							<note-view :note="n" v-on:remove="remove" @edit="edit" />
						</template>
						
						<script>
							export default {
								remove() {
									alert('remove');
								},
								edit() {
									alert('edit');
								}
							}
						</script>
						```

						Notes:
						# LC
					</textarea>
				</section>


				<section data-markdown>
					<textarea data-template>
					#### Slots
					- Provide customizable regions
					- Create container components
					- Can access children components via this.$children
					
					``` html
					<template>
						<div class="menu">
							<div class="header">
								<slot name="header" /> <!-- named slot -->
							<div>
							<div class="content">
								<slot />  <!-- default slot -->
							<div>
						<div>
					</template>
					```
					Notes: 
					# GK
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
					#### Use Slots
					``` html
					<template>
						<slot-sample>
							<template #header>
								HEADER TEXT
							</template>
					
							BODY TEXT
						</slot-sample>
						
					</template>
					```
					Notes: 
					# GK
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
					#### Style
					- Supports CSS or any stylesheet language (SASS, LESS, STYLUS) via webpack
					- Scoping
					
					``` html
					<template>
						<div>
							<a href="/home">Home</a>
						</div>
					<template>
					<script>
						export default {
							...
						}
					</script>
					
					<style lang="sass" scoped>
						a {
							color:red;
						}
					</style>
					```
					Notes: 
					# GK
					- vs 2017 struggles to format sass in style tag
					</textarea>
				</section>


				<section data-markdown>
					<textarea data-template>
					#### Reuse/Mixins

					Build componemts from existing ones
					- Extend / Inheritance
					- Mixins
					
					Notes: 
					# GK
					- CODE samples\Mixins\extend.vue
					- CODE samples\Mixins\mixins.vue
							
					</textarea>
				</section>
			</section>

			<section>
				<section>
					<h3>
						Routing, stucture, integration with .net, calling services
					</h3>
					<aside class="notes">
						<h1>GK</h1>
					</aside>
				</section>


				<section data-markdown>
					<textarea data-template>
						#### Router
						- Single page application
						- Sync URL and displayed content
						- Vue Router library
						
						Notes:
						# DC  
						improve the responsiveness of your web application by rendering the pages once and display them dynamically based on the current context of the application  
						Vue router library is official, but you can use whatever routing library you want  
							
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
					## In the template
					- Enable the router
					``` json
					<nav>
						<router-link to="/">Home</router-link>
						<router-link to="/login">Login</router-link>
						<router-link to="/about">About</router-link>
					</nav>
					<router-view></router-view>
					```

					Notes:
					# DC  
					router-link to define the URLs, link with click interception by browser, no refresh  
					router-view rendered content  
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
					## In the the JS
					- Define the routes
					``` json
					const router = new VueRouter({
						routes: [
						{ path: '/', component: Home },
						{ path: '/login', component: Login },
						{ path: '/about', component: About }
						]
					})
					```
					- Navigate to a URL
					``` json
					this.$router.push({ path: '/contact' })
					```
					
					Notes:		
					# DC  					
					Pass the routes to the initialization of the router object  
					navigate to a URL  
						
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
						## .net integration

						### Enable static files in *Startup.cs*

						``` cs
						public void Configure(IApplicationBuilder app, IHostingEnvironment env)
						{
							...
							app.UseStaticFiles();
							...
						}
						```

						Notes:
						# LC		
						
						Already enabled with templates
						- mvc
						- webapp (Razor pages)
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
						### cshtml

						``` html
						@page

						<title>Vue Meetup</title>
						<script src="https://unpkg.com/vue"></script>

						<div id="app" style="text-align:center;">
							<h1>{{ message }}</h1>
						</div>

						<script type="text/javascript">
							const app = new Vue({
								el: '#app',
								data: {
									message: 'Welcome to this Meetup'
								}
							});
						</script>
						```

						Notes:
						# LC	
						- add reference to vue
						- instanciate new Vue object
						- specify with a selector the element on whitch it is binded
						- the element linked become the root of vue app

						DEMO

					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
					## Project Structure

					* Vue as separate project
						- requires an additional web server
					
					* Vue integrated in .net core project
						- served by kestrel as static files
					
					Notes:
					# GK
					- CODE samples\Notes\tree.txt

					</textarea>
				</section>

			</section>

			<section>
				<section data-markdown>
					<textarea data-template>
					# Librairies

					Notes:
					# GK
					</textarea>
				</section>

				<section data-markdown style="top: 0px; display: block;">
					<textarea data-template>
					![vue UI](assets/vuetify-logo.png)
					## Vuetify
					- Material design framework
					- More than 80 components
					- No CSS collision
					
					Notes:
					# DC
					free and open source
					Bootstrap + Vue, Quasar, Element UI
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
					### Vuetify Example 
					``` json
					<v-app>
						<v-tooltip bottom>
							<template v-slot:activator="{ on }">
								<v-btn flat color="error" v-on="on">Button</v-btn>
							</template>
							<span>Tooltip</span>
						</v-tooltip>
						<v-select
							:items="items"
							label="Standard"
						></v-select>
					</v-app>
					```
					
					Notes:
					# DC
					</textarea>
				</section>
				
				<section data-markdown>
					<textarea data-template>
					### Vuetify Example 	
					  
					![vue UI](assets/text-field.png)  
					  
					  
					![vue UI](assets/buttons.png)  
					  
					  
					![vue UI](assets/pagination.png)
					
					Notes:
					# DC
					</textarea>
				</section>


				<section data-markdown>
					<textarea data-template>
					## Vuex
					- State management pattern 
					- Centralized store for all the components
					
					Notes:
					# LC
					- Official implementation to manage the state of properties
					- It serves as a centralized store for all the components in an application

					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
					### Vuex State
					- Vuex uses a single state tree
					- This single object contains all your application state
					- Serves as the "single source of truth"
					
					```js
					const store = new Vuex.Store({
						state: {
							entries: [
								{ id: 1, text: "..." },
								{ id: 2, text: "..." }
							]
						}
					})
					```	
					Notes:
					# LC
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
					### Vuex Mutations
					- The only way to actually change state
				
					``` js 
					const store = new Vuex.Store({
						state: {
							count: 1
						},
						mutations: {
							increment (state) {
								// mutate state
								state.count++
							}
						}
					})
					```		
					
					Notes:
					# LC
					The only way to actually change state in a Vuex store is by committing a mutation
									
					</textarea>
				</section>


				<section data-markdown>
					<textarea data-template>
					### Vuex Actions
					Similar to mutations, but:
					- Instead of mutating the state, actions commit mutations.
					- Actions can contain asynchronous operations.
					
					
					``` js
					const store = new Vuex.Store({
						state: { ... },
						mutations: { ... },
						actions: {
							increment (context) {
								context.commit('increment')
							}
						}
					})
					```		
					
					Notes:
					# LC
					Actions are similar to mutations, the differences being that:
					- Instead of mutating the state, actions commit mutations.
					- They can contain asynchronous operations.

					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
					## Kendo

					```html
					<template>
						<kendo-grid :id="'grid'" :height="'100%'" :data-source="items" :sortable="true">
							<kendo-grid-column :command="commands"></kendo-grid-column>
							<kendo-grid-column field="status" title="Status"></kendo-grid-column>
							<kendo-grid-column field="name" title="Name"></kendo-grid-column>
						</kendo-grid>
					<template>
					<script lang="ts"> 
						@Component()
						export default class ItemsList extends Vue {
							items = [
								{ status: "Done", name="Item 1" },
								{ status: "Pending", name="Item 2" }
							];

							get commands() {
								return [
									{ name: "details", text: "", click: this.view_click, iconClass: "k-icon k-i-copy" },
									{ name: "delete", text: "", click: this.delete_click, iconClass: "k-icon k-i-close" }
								];
							}
						}
					</script>
					```
					Notes:
					# GK						
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
					## Axios

					``` typescript
					import axios from "axios";
					import { Note } from "~/Domains/Notes";
					
					export class NotesService {
						baseUrl: string = "/api/notes/";
					
						async get(id: string): Promise<Note> {
							const response = await axios.get(this.baseUrl + id);
							return response.data;
						}
					
						async save(item: Note): Promise<Note> {
							const response = await axios.post(this.baseUrl, item);
							return response.data;
						}
					}
					```
					
					Notes:
					# GK
					- Vue used to bundle an http client
					- now recommands to use axios
					</textarea>
				</section>

			</section>

			<section>
				<section data-markdown>
					<textarea data-template>
					# Tooling
					Vue CLI, Webpack, IDE support
					Notes:
					# GK
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
					## Vue CLI

					### Getting Started

					- Installation:
					```
					npm install -g @vue/cli
					OR
					yarn global add @vue/cli
					```
					
					- Create a project:
					```
					vue create my-project
					```
					
					- Start server
					```
					vue serve
					``` 

					Notes:
					# LC
					- must be install globally
					- usefull to create quickly a new project

					- vue init webpack my-project
					- can create own ones
					
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
					### GUI

					```
					vue ui
					```
					
					![vue UI](assets/ui-new-project.png)
					
					Notes:
					# LC

                    DEMO
							
					</textarea>
				</section>
				
				<section data-markdown>
					<textarea data-template>
					## Webpack

					- Vue loader for transpiling
					- As standalone project, use vue cli to hide the complexity
					- Map ~ as the Client root
					- Use Babel for transpiling
					- Prepare a separate DEV and PROD config
					Notes:
					# GK
					- DEV vs PROD: minifing 
					- DEV uses Watch
					- In large apps, chunks help build time and download time //
					</textarea>
				</section>

				<section data-markdown>
					<textarea data-template>
					## IDE
					* Visual Studio 2017
						- Vue.js Pack 2017 by Mads Kristensen
					* Visual Studio Code
						- Vetur
					* Chrome
						- Vue.js devtools
					![logo](https://lh3.googleusercontent.com/5snyNEPO0lAnf0RMvDYQwhHNeX0wGbS2ZtI0p7o85bEcg6V9tQQnvD7JtpluQvVn3BflDNMWrA=w640-h400-e365)
					
					Notes:
					# GK
					</textarea>
				</section>

			</section>
			
			<section>
				<section data-markdown>
					<textarea data-template>
					# Comparison
					
					![comparison](assets/comparison.png)
					

					Notes:
					# GK
							
					</textarea>
				</section>
				<section data-markdown>
					<textarea data-template>
					# With Angular 
					- Typescript/Javascript
					- Framework/Library
					- WebApp vs SPA
					
					Notes:
					# DC  	
					Angular framework typescript  
					Angular Much heavier framework, vue lightier, and easier to include in a SPA  	
					Angular recommanded for full web app  
							
					</textarea>
				</section>
				<section data-markdown>
					<textarea data-template>
					# With React 
					- Javascript Librairies
					- Virtual DOM and SPA
					- Templates vs JSX
					
					Notes:
					# DC  
					Both are Library, written js, use VDOM  
					Separations of concerns vs everything is javascript  
					Can do JSX in Vue aswell  							
					</textarea>
				</section>
		
			</section>

			<section>
				<section data-markdown>
					<textarea data-template>
					# Resources
				
					This presentation: 					
					http://bit.ly/vue-net
					___

					https://github.com/vuejs/awesome-vue
					https://github.com/Microsoft/TypeScript-Vue-Starter
					___

					React.js vs Angular vs Vue:
					https://www.youtube.com/watch?v=SWZ_4YBFBhs
					
					Notes:
					# GK
					</textarea>
				</section>
			</section>

			<section>
				<section data-markdown>
					<textarea data-template>
					# Questions
					</textarea>
				</section>
			</section>
		</div>
	</div>	

	<script src="lib/js/head.min.js"></script>
	<script src="js/reveal.js"></script>

	<script>
		// More info about config & dependencies:
		// - https://github.com/hakimel/reveal.js#configuration
		// - https://github.com/hakimel/reveal.js#dependencies
		Reveal.initialize({
			dependencies: [
				{ src: 'plugin/markdown/marked.js' },
				{ src: 'plugin/markdown/markdown.js' },
				{ src: 'plugin/notes/notes.js', async: true },
				{ src: 'plugin/highlight/highlight.js', async: true, callback: function () { hljs.initHighlightingOnLoad(); } },
				{ src: 'socket.io/socket.io.js', async: true },
				{ src: 'plugin/notes-server/client.js', async: true }
			],

			progress: true,
			overview: true,
			// Transition style
			transition: 'concave', // none/fade/slide/convex/concave/zoom

			// Transition style for full page slide backgrounds
			backgroundTransition: 'none', // none/fade/slide/convex/concave/zoom

			center: true,
		});
	</script>
</body>

</html>