@import "Client/Assets/Style/Variables";

.toolbar {
	min-height: 40px;
	display: flex;
	border: 1px solid black;
	padding: 3px;
	color: white;
	background-color: $primary;
	user-select: none;

	a, button {
		text-decoration: none;
		color: $card-cap-color;
		padding: 4px 10px 4px 10px;
		margin: 3px;
		border-radius: 25px;
		background-color: $secondary;
		cursor: pointer;
		border: 0px;

		&:hover {
			text-decoration: none;
			background-color: $accent;
			color: white;
		}
	}
}
