<!DOCTYPE html>
<html>
<head>
	<style>
		html, body {
			overflow-y:auto !important;
		}
	</style>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<base href="/build/" />
	<title>Notes</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	@* Remote Libraries *@
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,900i" />
	<link href='https://fonts.googleapis.com/css?family=Londrina+Solid|Open+Sans:400,700|Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>

</head>

<body>
	<div id="app"></div>

	@RenderSection("Scripts")
</body>
</html>

@{ IgnoreBody(); }

