@import "Client/Assets/Style/variables";

.app__menu {
	border-top: 1px dotted black;
	border-bottom: 1px dotted black;
	background-color: $body-bg;
	color:black;
	padding: 10px 5px 10px 5px;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 17px 15px -11px rgba(0,0,0,0.3);

	a.section {
		width: 100%;
		padding: 2px;
		font-weight: 900;
		line-height: 20px;
		text-decoration: none;
		color: black;
		border-top: 1px solid $body-bg;
		border-bottom: 1px solid $body-bg;
		border-left: 5px solid $body-bg;
		border-right: 5px solid $body-bg;
		cursor: pointer;

		&:not(:last-child) {
			border-bottom: 1px dotted black;
		}

		&.router-link-active {
			border-right: 5px solid $primary;
		}

		&:hover {
			border-right: 5px solid $secondary;
			border-bottom: 1px solid $secondary;
		}
	}

	a.level-1 {
		padding-left: 30px;
		color: #555;
	}

	a.level-2 {
		padding-left: 45px;
		color: #888;
	}

	ul {
		z-index: 0;
		padding: 0;
		margin: 0;

		li {
			margin: 0px;
			padding: 3px;
			list-style-type: none;
			background-color: $secondary;
			cursor: pointer;
			color: white;
			line-height: 20px;

			&:hover {
				background-color: $primary;
			}

			&.active {
				background-color: white;
				color: black;

				&:hover {
					background-color: $primary;
					box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
				}
			}
		}

		.level-1 {
			padding-left: 30px;
			color: #555;
		}

		.level-2 {
			padding-left: 45px;
			color: #888;
		}
	}
}
