@import "Client/Assets/Style/variables";

$pageSidebarWidth:220px;


.shell {
	@extend %flex-col;


	&.debug {

		.scrollable-parent {
			border: 10px solid purple;
		}

		.scrollable-child {
			border: 10px solid blue;
		}

		.shell_container {
			border: 10px solid yellow;

			> .shell_app {
				border: 10px solid blue;

				.app__selector {
				}

				.app__container {
					border: 10px solid red;

					.app__header {
						.app__header__breadcrumbs {
						}
					}

					.app__contents {
						border: 10px solid yellow;

						.page {
							border: 10px solid pink;

							.page__layout {
								border: 10px solid brown;

								.body {
									border: 10px solid green;
								}

								.sidebar {
									border: 10px solid red;
								}
							}
						}
					}
				}
			}
		}
	}

	> .shell_container {
		@extend %flex-col;
		overflow: hidden;

		> .shell_app {
			@extend %flex-row;
			overflow: hidden;

			.app__selector {
				display: grid;
				background-color: $primary;
				overflow: hidden;
				width: $sideBarWidth;
			}

			.app__container {
				@extend %flex-col;
				overflow: hidden;

				.app__header {
					height: $sideBarButtonSize;
					height: 40px;

					font: {
						size: 1.2rem;
						weight: bold;
					}

					background-color: white;
					vertical-align: middle;
					border-bottom: 1px solid black;
					color: black;


					.app__header__breadcrumbs {
						margin: 10px;

						a {
							color: $secondary;
						}
					}
				}

				.app__contents {
					@extend %flex-col;
					height:calc(100% - 150px);

					.page {
						@extend %flex-col;


						.page__layout {
							@extend %flex-row;
							overflow: hidden;

							&.enableSidebar {
								grid-template-columns: auto $pageSidebarWidth;

								.body {
									width: calc(100% - $pageSidebarWidth);
								}

								.sidebar {
									display: block;
									width: $pageSidebarWidth;
									height: 100%;
								}
							}

							.body {
								@extend %flex-col;
							}

							.sidebar {
								display: none;
							}
						}
					}
				}
			}
		}
	}

	.scrollable-parent {
		@extend %flex-col;
		overflow-y: auto;
		// padding:10px;
	}

	.scrollable-child {
		@extend %flex-col;
		height: 0;
	}
}
